# Software Configuration File
# ---------------------------
# 
# You may edit this file when the VPN Server / Client / Bridge program is not running.
# 
# In prior to edit this file manually by your text editor,
# shutdown the VPN Server / Client / Bridge background service.
# Otherwise, all changes will be lost.
# 
declare root
{
	bool DontSavePassword false
	byte EncryptedPassword +WzqGYrR3VYXrAhKPZLGEHcIwO8=
	bool PasswordRemoteOnly false
	string UserAgent Mozilla/5.0$20(Windows$20NT$206.3;$20WOW64;$20rv:29.0)$20Gecko/20100101$20Firefox/29.0
	uint UseSecureDeviceId 0

	declare AccountDatabase
	{
		declare Account0
		{
			bool CheckServerCert false
			uint64 CreateDateTime 1614207784261
			uint64 LastConnectDateTime 1614357552209
			bool RetryOnServerCert false
			string ShortcutKey 551B31BDFFE6F493292C4E26B80C770842D348B8
			bool StartupAccount true
			uint64 UpdateDateTime 1614209180539

			declare ClientAuth
			{
				uint AuthType 1
				byte HashedPassword B70/4IyoLoatuuPNkBSlzc3gJPk=
				string Username ahong
			}
			declare ClientOption
			{
				string AccountName home
				uint AdditionalConnectionInterval 1
				uint ConnectionDisconnectSpan 0
				string CustomHttpHeader $
				string DeviceName softether
				bool DisableQoS false
				bool HalfConnection false
				bool HideNicInfoWindow false
				bool HideStatusWindow false
				string Hostname ahong.dynv6.net
				string HubName DEFAULT
				uint MaxConnection 1
				bool NoRoutingTracking false
				bool NoUdpAcceleration false
				uint NumRetry 4294967295
				uint Port 443
				uint PortUDP 0
				string ProxyName 10.177.52.58
				byte ProxyPassword $
				uint ProxyPort 8008
				uint ProxyType 1
				string ProxyUsername $
				bool RequireBridgeRoutingMode false
				bool RequireMonitorMode false
				uint RetryInterval 15
				bool UseCompress false
				bool UseEncrypt true
			}
		}
	}
	declare ClientManagerSetting
	{
		bool EasyMode false
		bool LockMode false
	}
	declare CommonProxySetting
	{
		string CustomHttpHeader $
		string ProxyHostName $
		uint ProxyPort 0
		uint ProxyType 0
		string ProxyUsername $
	}
	declare Config
	{
		bool AllowRemoteConfig false
		uint64 AutoDeleteCheckDiskFreeSpaceMin 104857600
		string KeepConnectHost keepalive.softether.org
		uint KeepConnectInterval 50
		uint KeepConnectPort 80
		uint KeepConnectProtocol 1
		bool NicDownOnDisconnect false
		bool NoChangeWcmNetworkSettingOnWindows8 false
		bool UseKeepConnect false
	}
	declare RootCA
	{
	}
	declare UnixVLan
	{
		declare softether
		{
			bool Enabled true
			string MacAddress 5E-64-76-85-06-11
		}
	}
}
